@import 'tailwindcss';

body {
  background-color: #141414;
  color: #ffffff;
  
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


}

/* Estilização customizada da scrollbar para o site todo */

/* Para navegadores baseados em Webkit (Chrome, Safari, Edge, etc.) */
::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #1f1f1f; /* Cor da trilha (um pouco mais clara que o fundo) */
}

::-webkit-scrollbar-thumb {
  background-color: #555; /* Cor da barra que se move */
  border-radius: 20px; /* Bordas arredondadas */
  border: 3px solid #1f1f1f; /* Cria um efeito de "borda" ao redor da barra */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777; /* Cor da barra ao passar o mouse */
}